<!DOCTYPE html>
<html  ng-app="detail">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<title>详情页面-AJS</title>
<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">

<script type="text/javascript" src="/bower_components/angular/angular.min.js"></script>
<script type="text/javascript" src="/js/detail.js"></script>
<style>
    .mT20{margin-top:20px;}
</style>
</head>

<body>


<div class="container">

    <div class="row">
        <div class="page-header">
            <h1>芝麻电影</h1>
            <ul class="nav nav-pills">
              <li role="presentation" class="active"><a href >首页</a></li>
              <li role="presentation"><a href>列表页</a></li>
              <li role="presentation"><a href >详情页</a></li>
            </ul>
        </div>
        
    </div>

  <!-- 使用ng-controller设置控制器 -->
  <div class="row" ng-controller="DetailController">

    <div class="col-md-4">
      <img ng-src={{detailData.images.large}} alt="{detailData.title}">
    </div>

    <div class="col-md-8">
      <h3><b>{{detailData.title}}</b></h3> 
      <p>又名：
         {{detailData.aka[0]}}
      </p>
      <p>评分:{{detailData.rating.average}}</p> 
      <p>国家:{{detailData.countries[0]}}</p>  
      <p>导演:{{detailData.directors[0].name}}</p>     
      <p>主演:
        <span ng-repeat="cast in detailData.casts">
          {{cast.name}}&nbsp;
        </span>
      </p>
      <p>类型:
        <span ng-repeat="genre in detailData.genres">
          {{genre}}&nbsp;
        </span>
      </p>
      <p>年份:{{detailData.year}}</p>
      <p>简介：{{detailData.summary}}</p>
    </div>
     
     {{detailArr.rating.max}}

  </div>

   <!-- 评论开始 -->
       <div class="rowmT20"  ng-controller="ReviewController as reviewCtrl" ng-submit="reviewCtrl.addReview(reviews)">

         <div class="col-md-12">
           <h3>评论</h3>
           <blockquote ng-repeat="review in reviewCtrl.reviews">
             <b>分数：{{review.star}}</b>
             <p>{{review.body}}</p>
             <small>来自：{{review.author}}</small>
           </blockquote>
         </div>
         <!-- 评论表单开始 -->
         <div class="col-md-6">
           <form class="form-horizontal">
             <!-- 用于即时显示用户输入内容 -->
             <blockquote>
               <b>分数：{{reviewCtrl.review.star}}</b>
               <p>{{reviewCtrl.review.body}}</p>
               <small>来自：{{reviewCtrl.review.author}}</small>
             </blockquote>
               <!-- 使用ng-model进行双向数据绑定 -->
              <div class="form-group">
               <label for="textStar" class="col-sm-2 control-label">分数：</label>
               <div class="col-sm-3">
                 <select ng-model="reviewCtrl.review.star"  class="form-control" id="textStar">
                   <option value="1">1</option>
                   <option value="2">2</option>
                   <option value="3">3</option>
                   <option value="4">4</option>
                   <option value="5">5</option>
                 </select>
               </div>
             </div>
             <div class="form-group">
               <label for="inputEmail3" class="col-sm-2 control-label">邮箱</label>
               <div class="col-sm-10">
                 <input ng-model="reviewCtrl.review.author" type="email" class="form-control" id="inputEmail3" placeholder="邮箱">
               </div>
             </div>

             <div class="form-group">
               <label for="inputPassword3" class="col-sm-2 control-label">内容</label>
               <div class="col-sm-10">
                 <textarea ng-model="reviewCtrl.review.body"  class="form-control" id="inputPassword3" placeholder="内容"></textarea>
               </div>
             </div>

             <div class="form-group">
               <div class="col-sm-offset-2 col-sm-10">
                 <button type="submit" class="btn btn-primary" >评论</button>
               </div>
             </div>

           </form>
         </div>
         <!-- 评论表单结束 -->

       </div>
       <!-- 评论结束 -->

</div>

</body>
</html>
