<!DOCTYPE html>
<html  ng-app="movie">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<title>AJS</title>
<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">

<script type="text/javascript" src="/bower_components/angular/angular.min.js"></script>
<script type="text/javascript" src="js/app.js"></script>
<style>
    .mT20{margin-top:20px;}
</style>
</head>

<body>


<div class="container">

    <div class="row">
        <div class="page-header">
            <h1>电影网站</h1>
            <ul class="nav nav-pills">
              <li role="presentation" class="active"><a href >首页</a></li>
              <li role="presentation"><a href>列表页</a></li>
              <li role="presentation"><a href >详情页</a></li>
            </ul>
        </div>
          <!-- PanelController开始 -->
          <!-- as panel是控制器的别名，只有控制器内部使用了 this才可以使用别名 -->
         <div class="page-header" ng-controller="PanelController as panel">
            <!-- ng-init是tab的 初始值 -->
            <ul class="nav nav-tabs">
                <!-- 使用ng-click处理tab标签, ng-class 当 ：后面的表达式为true时，添加前面的类 -->
              <li role="presentation"  ng-click="panel.selectTab(1)" ng-class="{active:panel.isSelected(1)}"><a href >科幻</a></li>
              <li role="presentation"  ng-click="panel.selectTab(2)" ng-class="{active:panel.isSelected(2)}"><a href>爱情</a></li>
              <li role="presentation"  ng-click="panel.selectTab(3)" ng-class="{active:panel.isSelected(3)}"><a href >古装</a></li>
            </ul>

            <div class="panel" ng-show="panel.isSelected(1)">
                科幻
            </div>

            <div class="panel" ng-show="panel.isSelected(2)">
                爱情
            </div>

             <div class="panel" ng-show="panel.isSelected(3)">
                古装
            </div>

        </div>
        <!-- PanelController结束 -->
       
    </div>

<!-- 使用ng-controller设置控制器 -->
<div class="row" ng-controller="MovieController">
    <div class="row mT20 thumbnail"  ng-repeat="movie in movieArr">
        <div class="col-md-4">
           <img class="" ng-src="{{movie.images.large}}" alt="{{movie.title}}"> 
        </div>
       
        <div class="col-md-5 caption" >

            <!-- 使用ng-repeat循环数组 -->
            <h3><b>{{movie.title}}</b></h3>
            <p>英文名:{{movie.original_title}}</p>  
            <p>导演:{{movie.directors[0].name}}</p>     
            <p>类型:{{movie.genres[0]}}</p>
            <p>年份:{{movie.year}}</p>
            
            <!-- 数据btn为true时，显示按钮 -->
            <!-- <button class="btn btn-primary" ng-show="{{movie.btn}}">提交</button>   --> 
        </div> 

        <!-- 评论开始 -->
        <div class="rowmT20">

          <div class="col-md-12">
            <h3>评论</h3>
            <blockquote ng-repeat="review in movie.reviews">
              <b>分数：{{review.star}}</b>
              <p>{{review.body}}</p>
              <small>来自：{{review.author}}</small>
            </blockquote>
          </div>
          <!-- 评论表单开始 -->
          <div class="col-md-6">
            <form class="form-horizontal" ng-controller="ReviewController as reviewCtrl" ng-submit="reviewCtrl.addReview(movie)">
              <!-- 用于即时显示用户输入内容 -->
              <blockquote>
                <b>分数：{{reviewCtrl.review.star}}</b>
                <p>{{reviewCtrl.review.body}}</p>
                <small>来自：{{reviewCtrl.review.author}}</small>
              </blockquote>
                <!-- 使用ng-model进行双向数据绑定 -->
               <div class="form-group">
                <label for="textStar" class="col-sm-2 control-label">分数：</label>
                <div class="col-sm-3">
                  <select ng-model="reviewCtrl.review.star"  class="form-control" id="textStar">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">邮箱</label>
                <div class="col-sm-10">
                  <input ng-model="reviewCtrl.review.author" type="email" class="form-control" id="inputEmail3" placeholder="邮箱">
                </div>
              </div>

              <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label">内容</label>
                <div class="col-sm-10">
                  <textarea ng-model="reviewCtrl.review.body"  class="form-control" id="inputPassword3" placeholder="内容"></textarea>
                </div>
              </div>

              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <button type="submit" class="btn btn-primary" >评论</button>
                </div>
              </div>

            </form>
          </div>
          <!-- 评论表单结束 -->

        </div>
        <!-- 评论结束 -->

    </div>

    

</div>

</div>

</body>
</html>
