<!DOCTYPE html>
<html  ng-app="movie">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<title>AJS</title>
<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">

<script type="text/javascript" src="/bower_components/angular/angular.min.js"></script>
<script type="text/javascript" src="js/app.js"></script>
<style>
    .mT20{margin-top:20px;}
</style>
</head>

<body>


<div class="container">

    <div class="row">
        <div class="page-header">
            <h1>电影网站</h1>
            <ul class="nav nav-pills">
              <li role="presentation" class="active"><a href >首页</a></li>
              <li role="presentation"><a href>列表页</a></li>
              <li role="presentation"><a href >详情页</a></li>
            </ul>
        </div>
          <!-- PanelController开始 -->
          <!-- as panel是控制器的别名，只有控制器内部使用了 this才可以使用别名 -->
         <div class="page-header" ng-controller="PanelController as panel">
            <!-- ng-init是tab的 初始值 -->
            <ul class="nav nav-tabs">
                <!-- 使用ng-click处理tab标签, ng-class 当 ：后面的表达式为true时，添加前面的类 -->
              <li role="presentation"  ng-click="panel.selectTab(1)" ng-class="{active:panel.isSelected(1)}"><a href >科幻</a></li>
              <li role="presentation"  ng-click="panel.selectTab(2)" ng-class="{active:panel.isSelected(2)}"><a href>爱情</a></li>
              <li role="presentation"  ng-click="panel.selectTab(3)" ng-class="{active:panel.isSelected(3)}"><a href >古装</a></li>
            </ul>

            <div class="panel" ng-show="panel.isSelected(1)">
                科幻
            </div>

            <div class="panel" ng-show="panel.isSelected(2)">
                爱情
            </div>

             <div class="panel" ng-show="panel.isSelected(3)">
                古装
            </div>

        </div>
        <!-- PanelController结束 -->
       
    </div>

<!-- 使用ng-controller设置控制器 -->
<div class="row" ng-controller="MovieController">

    <div class="row mT20"  ng-repeat="movie in movieArr">

        <div class="col-md-7">
           <img class="" ng-src="{{movie.poster}}" alt="{{movie.title}}"> 
        </div>
          
        <div class="col-md-5" >
            <!-- 使用ng-repeat循环数组 -->
            <h3>{{movie.title}}</h3>
            <p>票价:{{movie.price |currency}}</p>  
            <p>导演:{{movie.doctor}}</p>     
            <p>语言:{{movie.language}}</p>
            <p>年份:{{movie.pubtime | date:"yyyy年MM月dd日 hh:mm"}}</p>
            <p>简介:{{movie.summary}}</p>
            <!-- 数据btn为true时，显示按钮 -->
            <button class="btn btn-primary" ng-show="{{movie.btn}}">提交</button>   
        </div> 


    </div>


</div>

</div>

</body>
</html>
