<!-- 主体开始 -->
<!-- 使用ng-controller设置控制器 -->
<div class="detailBox">
  
    <div class="row">
        <!-- 当索引为3或者倍数时，添加清除浮动的类 clearBoth-->
        <div class="col-md-3"  ng-repeat="movie in movieArr"  ng-class="{clearBoth:$index % 4 === 0}">
          <div class="thumbnail">
            <img ng-src="{{movie.images.large}}" alt="{{movie.title}}">

            <div class="caption text-center">
          
                <h3><b>{{movie.title}}</b></h3> 
                <p>导演:{{movie.directors[0].name}}</p>     
                <p>类型:{{movie.genres[0]}}</p>
                <p>年份:{{movie.year}}</p>
                <p>
                  <!-- 传参 ？前需要加#号 -->
                  <a href="/#/detail/{{movie.id}}" class="btn btn-primary" role="button">查询详情</a>
               </p>
            </div>
          </div>
        </div>

      </div>
     
  </div>
</div>
<!-- 主体结束 -->
